.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #22223B;
  background-color: #9A8C98;
  padding: 0 2rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 5rem;
  bottom: 150px;
  width: 100%;
  left: 0;
  border-radius: 8px;
  z-index: 100;
}

.notification h2 {
  font-size: var(--size-6);
  margin: 0;
}

.notification p {
  margin: 0;
}

.success {
  background-color: #C9ADA7;
  color: #22223B;
}

.error {
  background-color: #F2E9E4;
}

@media (min-width: 768px) {
  .notification {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
